
// color
$color-primary: #0B0D17;
$color-secondary: #D0D6F9;
$color-text: #FFFFFF;
// font
$fs-14: .875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-28: 1.75rem;
$fs-36: 2.25rem;
$fs-32: 2rem;
$fs-56: 3.5rem;
$fs-100: 6.25rem;  
// ff
$ff-title: 'Bellefair';
$ff-text: 'Barlow Condensed';
// borde raduis
$br-button: 15px;
// padding
$p-128: 128px;
$p-96: 96px;
$p-80: 80px;
$p-64: 64px;
$p-48: 48px;
$p-40: 40px;
$p-32: 32px;
$p-24: 24px;
$p-16: 16px;
$p-12: 12px;
$p-8: 8px;
$p-4: 4px;
$p-2: 2px;

body {
    color: $color-text;
    background: $color-primary;
}
header, section {
    padding: 128px 165px;
    @media screen and (max-width: 425px) {
     padding: 128px 24px 128px 24px;
    }
}