// sass/layouts/_navbar.scss
@use "../base/theme" as theme;

.nav {
    position: absolute;
    width: 100%;
padding: theme.$p-64 0 0 theme.$p-64;
display: flex;
align-items: center;
justify-content: space-between;

    &__box_link {
    background: #ffffff05;
    padding: 38.5px 64px 38.5px 128px ;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 650px) {
    display: none;
    }
}
& hr {
    width: 50%;
    transform: translateX(100px);
    // position: relative;
    // left: 50%;
}
@media screen and (max-width: 768px) {
 hr {
    display: none;
 }   

}
&__box_link a {
    font-size: theme.$fs-16;
    font-family: theme.$ff-title;
    text-transform: uppercase;
    margin-right: 48px;
    position: relative;
}
&__box_link a span {
    margin-right: 12px;
}
&__btn_hamb {
    height: 30px;
    width: 50px;
    background: #00000000;
    position: relative;
    right: 25px;
    display: none;
    @media screen and (max-width: 650px) {
     display: block;   
    }
    & .line_2 {
        width: 100%;
        position:absolute;
        height: 3px;
        background: theme.$color-text;
        top: 50%;
        transform: translateY(-50%);
    }
    & .line_1 {
        width: 100%;
        position:absolute;
        height: 3px;
        background: theme.$color-text;
        top: 1px;
    }
    & .line_3 {
        width: 100%;
        position: absolute;
        height: 3px;
        background: theme.$color-text;
        bottom: 0px;
    }
}
@media screen and (max-width: 768px) {
 padding: 0px 0 40px 40px;   
}
@media screen and (max-width: 650px) {
 padding: 25px;   
}

}
.nav_home a:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -38.5px;
    left: 0;
    background: theme.$color-text;
}
.nav_destination a:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -38.5px;
    left: 0;
    background: theme.$color-text;
}